[submodule "TechBlog2"]
	path = TechBlog2
	url = https://github.com/IncodeSatx/TechBlog2.git
	
	[submodule "Static"]
	path = TechBlog2/static
	url = https://github.com/IncodeSatx/TechBlog2/static.git

